<div *ngFor="let data of reviewData">
    <div class="flex-container">
        <div class="flex-item1">
            <img src={{data.movie_img}} width="95" height="135">
        </div>
        <div class="flex-item2">
            <div class="movie-font">{{data.movie_name}}
                <span class="font-style">{{data.year}}</span>
            </div>
            <div class="font-style">
                <img width="18" height="18" src="../../assets/star.png">
                <label style="margin-left: 1%;">{{data.stars}}</label>
            </div>
            <div class="font-style"><label style="color: darkgray;">Review: </label>{{data.review}}
            </div>
            <div class="font-style"><label style="color: darkgray;">Posted on: </label>{{data.post_date | date}}</div>
        </div>
    </div>
</div>