.searchBar{
    width: 100%;
}

.option1{
    // background:  url("https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg")  center / contain no-repeat;
    white-space: nowrap
  
  }

img {
    margin: 15% 2% 0 0;
}

.flex-container {
    display: flex;
}

.flex-item1 {
    width: 20%;
    flex-grow: 1;
}

.flex-item2 {
    width: 50%;
    flex-grow: 2;
    margin-left: -15%;
}

.flex1 {
    width: 50%;
    flex-grow: 3;
    margin: 8% 7%;
}

.flex2 {
    flex-grow: 1;
}

.flex2-margin {
    margin: 4% 5% 0 0;
}

.title {
    margin-bottom: -10%;
    margin-top: 8%;
}

.font-style {
    color: darkgray;
    font-size: 13px;
}

.movie-font {
    color: whitesmoke;
    font-size: 18px;
}

.flex-container1 {
    justify-content: space-between;
    display: flex;
    border-bottom: 0.1rem solid #bababa;
}

.flex3{
    width: 50%;
    margin-top: 0%;
    flex-grow: 2;
}

.flex4 {
    margin: 2%;
    width: 100%;
}

textarea {
    height: 95px;
}

.submit-btn{
    width: 100%;
    background-color: #c2185b;
}