<div class="margin" *ngIf="this._navService.getTitle() == 'New Post'">
  <mat-form-field class="searchBar">
    <mat-label>Search Movies</mat-label>
    <input matInput type="text" [(ngModel)]="value" (input)="onSearch($event)" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option value="" *ngFor="let result of resultArray" style="height: 85px;border-bottom: 0.1rem solid #bababa;">
        <div class="flex-container" (click)="movieSelected(result)">
          <div class="flex-item1">
            <img width="50" height="70" src={{result.img}}>
          </div>
          <div class="flex-item2">
            <div class="title">{{result.l}}
              <span class="font-style" *ngIf="result.q == 'feature'"> - Movie</span>
              <span class="font-style" *ngIf="result.q == 'TV series'"> - Series</span>
              <span class="font-style"> {{ result.y }}</span>
            </div>
            <div class="font-style">{{ result.s }}</div>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div *ngIf="this._navService.getTitle() == 'I Watched'">
  <div class="flex-container1">
    <div class="flex1">
      <span class="movie-font">{{this.selectedMovie.l}}</span>
      <span class="font-style"style="margin-left: 2%;" >{{this.selectedMovie.y}}</span>
    </div>
    <div class="flex2">
      <img width="50" height="70" src={{this.selectedMovie.img}}>
    </div>
  </div>
  <div class="flex-container1">
    <div class="flex1">
      <span class="font-style">Date</span>
    </div>
    <div class="flex2 flex2-margin">
      <mat-form-field appearance="fill">
        <mat-label>Date Watched</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="date1">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="flex-container1">
    <div style="margin: 5% 2%;">
      <star-rating [value]="this.stars" [totalstars]=10 checkedcolor="#c2185b" uncheckedcolor="#bababa" size="30px" [readonly]=false (rate)="onRate($event)"></star-rating>
      <div>
        <span class="font-style">Rate</span>
      </div>
    </div>
    <div style="margin: 0 2% 0 0;">
      <img width="48" height="55" src="../../assets/star_gray.png">
      <div class="font-style" style="margin: -18% 0 0 25%;">Like</div>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex4">
      <mat-form-field class="example-full-width" style="width: 100%;">
        <mat-label class="font-style">Add Review</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>  
    </div>
  </div>
  <div class="flex-container">
    <div class="flex4">
      <mat-form-field class="example-full-width" style="width: 100%;">
        <mat-label>Add Tags</mat-label>
        <input matInput type="text" placeholder="Use comma to seperate tags">
      </mat-form-field>  
    </div>
  </div>
  <div style="margin: 2%;">
    <button mat-raised-button class="submit-btn" [disabled]=false>Post</button>
  </div>
</div>