<mat-toolbar color="primary">
  <div *ngIf="searchEnabled" style="width: 100%;">
    <mat-icon (click)="arrowback()">arrow_back</mat-icon>
    <mat-form-field class="search-bar">
      <input matInput placeholder="Search Movies" type="text" [(ngModel)]="value" (input)="onSearch($event)"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option value="" *ngFor="let result of resultArray"
          style="height: 85px;border-bottom: 0.1rem solid #bababa;">
          <div class="flex-container" (click)="movieSelected(result)">
            <div class="flex-item1">
              <img width="50" height="70" src={{result.img}} class="searchImg">
            </div>
            <div class="flex-item2">
              <div class="title">{{result.l}}
                <span class="font-style"> {{ result.y }}</span>
              </div>
              <div class="font-style">{{ result.s }}</div>
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div *ngIf="!searchEnabled">
    <button mat-icon-button *ngIf="_navBar.navFlag">
      <mat-icon (click)="snav.toggle()">menu</mat-icon>
      <!-- <mat-icon *ngIf="!_navBar.navFlag" (click)="backClicked()">arrow_back</mat-icon> -->
    </button>
    <button mat-icon-button class="close-button" *ngIf="!_navBar.navFlag" (click)="closed()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
    <mat-label>{{_navBar.getTitle()}}</mat-label>
    <button mat-icon-button class="close-button" *ngIf="_navBar.navFlag" style="margin-left: 30vh;"
      (click)="seachClicked()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container fullscreen [style.marginTop.px]="56">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56">
    <mat-nav-list (click)="snav.toggle()">
      <img src="../../assets/user_img.png" alt="binge_watch" width="40" height="35" class="userImg">
      <a mat-list-item routerLink="/landing">Home</a>
      <a mat-list-item routerLink="/reviews">My Reviews</a>
      <a mat-list-item>Friends</a>
      <a mat-list-item (click)="logout()">LogOut</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>