main {
    background-color: #c2185b;
    height: 100%;
    overflow: hidden;
}

img {
    margin: 25vh 0 2vh 40vw;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.form-fields{
    margin: 0 0 0 20vw;
}

.form-field {
    width: 80%;
}