main {
    height: 100%;
    overflow: hidden;
    background-image: url("../../../assets/bg.jpg");
}

img {
    margin: 5vh 0 2vh 0;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 30%;
}

.form-fields{
    // margin: 0 0 0 20vw;
}

.form-field {
    width: 80%;
}

.submit-btn{
    margin-top: 5%;
    width: 80%;
    background-color: #c2185b;
}

.inner-box {
    text-align: center;
    margin: 25% 5% 0 5%;
    background-color: darkslateblue;
    height: 75vh;
    border-radius: 5%;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}