/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow-x: auto;}
body { margin: 0; font-family: cursive;; }

.margin{
    margin: 3% 3% 0 3%;
    overflow-y: scroll;         /* SCROLLBARS !!!*/
    max-height: calc(100% - 77px);
    overflow-x: hidden!important;
}

.mat-tab-label{
    width: 50%;
}

.errors{
    color: whitesmoke;
    font-size: 15px;
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: 65% 0 0 35%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }