/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: cursive;; }

.margin{
    margin: 3% 3% 0 3%;
    overflow-y: scroll;         /* SCROLLBARS !!!*/
    height: calc(100% - 77px);
    overflow-x: hidden;
}

.mat-tab-label{
    width: 50%;
}

.errors{
    color: #c2185b;
    font-size: 17px;
}